/*
Estilos da página index.html
*/
    .cor-fundo{
        background-color:rgb(201, 195, 216);
    }

    .p1 {
    font-size: 24px;
    }

    .center {
    text-align: center;
    }
    .titulo{
        text-align: center;
        color:mediumvioletred;
    }

    /*configurações da imagem */
    .br-50{
        border-radius: 50%;
    }
    .wh-300{
        width: 250px;
        height: 250px;
        padding: 30px;
    }

    .p40{
        padding: 40px;
    }

    .container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    #menu li {
        display: inline;
        padding: 30px;
        justify-content: end;
    }

    #menu li a{
        text-decoration: none;
        color:fuchsia;   
        font-size: 20px;
    }

    #menu li a:hover {
        color:greenyellow;
    }

    .tm-ilus{
        width: 100px ;
        height: 100px;
    }

    .mb-50{
        margin-bottom: 50ox;
    }
    .justify{
        text-align: justify;
    }

    .anime {
        color:lightblue;
        justify-content: center;
        width: 200px;
        height: 30px;
        background-color:indianred;
        animation-name: example;
        animation-duration: 5s;
      }
      
      @keyframes example {
        from {background-color:indianred;}
        to {background-color: rgb(70, 6, 36);}
      }

/*
Estilos da página contatohtml
*/

.ml-100{
    margin-left: 100px;
}

.cor-fundo2{
    background-color:rgb(46, 236, 236);
}